*{
    margin: 0;
    padding: 0;
    font-family: $font-principal;
     

}

/* Encabezado para todas las paginas */

#encabezado{
    padding-top: $spacing-small;
    padding-bottom: $spacing-small;
}

#encabezado nav ul{
    background-color: $fondo;
    display: flex;
    flex-direction: row;
}

#encabezado nav ul li{
    display: inline-block;        
}

.extend{
 color: $text-encabezado;
 background-color: $primary;
 text-decoration-line: none;
 display: block;
 padding: $spacinf-xsmall;
 font-weight: bold;
 gap: 2px;
 transition: all 1s;    
}

#encabezado nav ul li a:hover{
background-color: $secondary;  


}

.cuenta--active{
    @extend .extend;
    color: red;


}


@media (max-width: 480px){
    #encabezado nav ul{
   flex-direction: column;
   font-size: $small;
   }
}
