
/* Footer */

.container-fluid{ 
    font-style: italic;
    text-align: center;
    background-color: $fondo;
    font-size: $small;
}

.col-md-8{
    font-weight: bold;
}  

@media (max-width: 480px){
    .container-fluid{
    flex-direction: column;
    }   
}    
