/* Crear Cuenta */

    #registro{
            color:black;
            text-align: center;
            width: 100%;
            margin: 30px auto;  


            &__h2{
                font-size: 30px;
                margin-top: 50px;
                margin-bottom: 30px;
                color: $text-encabezado;
                font-weight: bold;
               
            }   
            &__p{
                font-size: 18px;
                font-style: italic;
                margin-bottom: 30px;
      
            }

    }
              
    #formulario{
            display: flex; 
            font-weight: 30px;
            text-align: center;
            padding: 100px;

    }


/* Quienes Somos */
#quienes_somos{
    padding-top: 20px;
    text-align: center; 
    height: 300px;
    background-image: linear-gradient(#214921, #f0f0df);


}

#quienes_somos h2{
font-size: 30px;
margin-top: 50px;
margin-bottom: 30px;

}

#quienes_somos p{
    font-size: 18px;
    margin-bottom: 100px; 
    margin-left: 100px;
    margin-right: 100px; 
    
}


@media (max-width: 480px){
    #quienes_somos{
    height: 500px;
    margin-left: 10px;
    margin-right: 10px;   
     }

    #quienes_somos p{
    font-size: 14px;
    margin-left: 30px;
    margin-right: 30px;   
    }
    }


/* Crear Cuenta */

#formulario{
      background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 700px;
    justify-items: center;
 
}

.completardoc{   
    width: 500px;
}

@media (max-width: 480px){
        #formulario{
        height: 500px;
        margin-left: 10px;
        margin-right: 10px;   
         }
    
        .completardoc{
        font-size: 10px;
        }
        }


/* Cosmetica Natural */
#CosmeticaNatural{
    text-align: center;            
    margin-bottom: 150px;
    width: 100%;
    margin: 10px auto;
}

#CosmeticaNatural h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    }

.grid{
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-items: center;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: center;
  
}
.producto{

    display: flex;
    flex-direction: column; 
    gap: 10px;
    display: inline-block;
    width: 250px;
    height: 150px;
  
 }

.fotoproducto{
    width: 250px;
    height: 100px;
    border-radius: 10px;

}

.texto{
    background-color: #f0f0df;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
}

@media (max-width: 480px){
    .grid{
    grid-template-columns: 200px;
    grid-template-rows: repeat(9, 1fr);
       
    }
   }


/* Circular */

#circular{
    text-align: center;            
    margin-bottom: 150px;
}

#circular h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    }





