/* colores */
$primary: #66af78;
$secondary: #214921;
$fondo: #f0f0df;
$text-color: black;
$text-encabezado: white;


/* Fuentes */
$font-principal: tahoma;
$font-title: verdana;


/* Espaciados*/

$spacing-large: 6rem;
$spacing-medium: 2.4rem;
$spacing-small: 2rem;
$spacinf-xsmall: 1rem;


/* Tamaños de fuente*/

$large: 5.2em;
$medium: 2.2em;
$base: 1.6em;
$smal: 1.4em;







